/* Reset body and html styles */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

/* Ensure the Canvas fills the entire screen */
canvas {
    display: block; /* Remove scrollbar gap */
    width: 100%;
    height: 100%;
}
